body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.logo-blue {
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo {
    color: var(--navyblue, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.link {
    color: var(--navyblue, #2E2F42);
    font-weight: 500;
    text-decoration: none;
}

.address-link {
    color: var(--slate, #434455);
    text-decoration: none;
}

.hero-section {
    background: var(--navyblue, #2E2F42);
}

.hero-title {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.hero-button {
    text-align: center;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-order {
    color: var(--white, #FFF);
    font-weight: 500;
    letter-spacing: 0.64px;
}

.approach {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.approach-text {
    color: var(--slate, #434455);
    letter-spacing: 0.32px;
}

.team-section {
    background: var(--cloud, #F4F4FD);
}

.teamates {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.teamates-name {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.teamates-text {
    color: var(--slate, #434455);
    letter-spacing: 0.32px;
}

.projects-portfolio {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.projects-title {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.projects-text {
    color: var(--slate, #434455);
    letter-spacing: 0.32px;
}

.footer-background {
    background: var(--navyblue, #2E2F42);
}

.footer-text {
    color: var(--cloud, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

footer .logo-white {
    color: var(--cloud, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}